<script>
	import { browser } from '$app/environment';
	import '../styles/typeface.css';
	import '../styles/root.css';
	import '../styles/reset.css';
	import '../styles/utils.css';
	import '../styles/main.css';
</script>

{#if browser}
	<main>
		<slot />
	</main>
{/if}
