<script>
	import { onDestroy, onMount } from 'svelte';

	import Game from '$lib/components/Game.svelte';
	import Toast from '$lib/components/Toast.svelte';
	import Modal from '$lib/components/Modal.svelte';
	import Statistics from '$lib/components/Statistics.svelte';
	import Help from '$lib/components/Help.svelte';
	import { game, startGame } from '$lib/stores/game';
	import ModalState from '$lib/modalState';
	import ToastState from '$lib/toastState';
	import Header from '$lib/components/Header.svelte';

	// state of toast and modal messages
	let toast = new ToastState();
	let modal = new ModalState();

	// full list of words
	export let data;
	let { dictionary } = data;
	$: ({ dictionary } = data);

	// game
	let gameState = {};
	const gameUnsubscribe = game.subscribe((value) => {
		gameState = { ...value };

		if (gameState.over) {
			gameOver();
		}
	});

	onMount(() => {
		toast = toast.clear();
		modal = modal.clear();
	});

	onDestroy(() => {
		gameUnsubscribe();
	});

	function gameOver() {
		// display stats modal on win
		if (gameState.win) {
			modal = modal.update('statistics');
		} else {
			// display toast with secret with a delayed stats modal
			toast = toast.update(gameState.secret);
			modal = modal.update('statistics', 1);
		}
	}

	function handleReplay() {
		startGame();
		hideToast();
		hideModal();
	}

	function handleError(event) {
		toast = toast.update(event?.detail?.message, 2);
	}

	function hideToast() {
		toast = toast.clear();
	}

	function showModal(event) {
		modal = modal.update(event.detail.type);
	}

	function hideModal() {
		modal = modal.clear();
	}
</script>

<Header on:clicked={(event) => showModal(event)} />

<Game {dictionary} on:error={(event) => handleError(event)} />

{#if toast.message}
	<Toast message={toast.message} ttl={toast.ttl} on:hide={() => hideToast()} />
{/if}

<!-- unfortunately, Svelte does not support dynamically named slots so using 'if' will have to do (see: https://github.com/sveltejs/svelte/issues/3480)-->
<!-- TODO: look into using svelte:component as an option see: https://svelte.dev/tutorial/svelte-component -->
{#if modal.type === 'statistics'}
	<Modal
		delay={modal.delay}
		disableReplay={!gameState.over}
		on:close={() => hideModal()}
		on:replay={() => handleReplay()}
	>
		<Statistics slot="statistics" />
	</Modal>
{/if}
{#if modal.type === 'help'}
	<Modal on:close={() => hideModal()}>
		<Help slot="help" />
	</Modal>
{/if}
