:root {
    /* width */
    --w-xs: 320px,
    --w-sm: 576px,
    --w-md: 768px,
    --w-lg: 992px,
    --w-xl: 1200px,
    --w-xxl: 1400px
  
    /* height */
    --h-xs: 568px;
    --h-md: 667px;
    --h-l: 800px;
    --h-xl: 1366px;
}