:root {
	overflow: hidden;
}

body {
	background-color: var(--clr-light);
}

h1 {
	font-family: var(--ff);
	font-size: var(--fs-h1);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
}

h2 {
	font-family: var(--ff);
	font-size: var(--fs-h2);
	font-weight: var(--fw-bold);
	text-transform: uppercase;
}

button {
	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 0.5rem;

	border: 0;
	border-radius: 4px;

	color: var(--clr-dark);
	background-color: var(--clr-light-grey);

	font-family: var(--ff);
	font-weight: var(--fw-bold);
	text-transform: uppercase;

	cursor: pointer;
}


.icon-button {
	width: 2.4rem;
	
	padding: 0.6rem;
}

.icon-button svg {
	fill: var(--clr-dark);
	height: 100%;
	width: 100%;
}

.disabled-button {
	filter: opacity(30%);
	cursor: unset;
}

.blank-button {
	visibility: hidden;
}
