:root {
	/* type face */
	--ff: 'Arial-Rounded-Bold', Tahoma, Sans-Serif;
	--ff-keys: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;

	--fw-light: 300;
	--fw-normal: 400;
	--fw-semi: 500;
	--fw-bold: 700;

	--fs-xs: 0.55rem;
	--fs-s: 0.75rem;
	--fs-m: 1.25rem;
	--fs: 2rem;

	--fs-h1: 1.1rem;
	--fs-h2: 0.8rem;

	/* general */
	--header-height: 3rem;

	/* colors */
	--clr-light: #fff;
	--clr-light-grey: #f6f7f8;
	--clr-grey: #989898;
	--clr-dark: #353535;
	--clr-dark-tr: rgba(0, 0, 0, 0.4);
	--clr-accent: #d06d6d;
	--clr-accent-dark: #613131;

	/* keys and tiles */
	--clr-fg-default: #fff;

	--clr-fg-empty: #dfdfe3;
	--clr-bg-empty: #eee;

	--clr-bg-absent: #c3c3c4;

	--clr-bg-present: #ffd469;

	--clr-bg-correct: #a1cb66;
}