<script>
	import { browser } from '$app/environment';
	import { onMount } from 'svelte';

	export let board;

	// colours of actively selected tiles
	const colors = [
		'#E35DA4', // pink
		'#FC8268', // orange
		'#51BBE1', // blue
		'#9C8FC1', // purple
		'#57D0A5', // teal green
		'#94DED5' // cyan
	];

	let wasMounted = false;
	let boardWidth = width(); // set the initial board width

	onMount(() => {
		wasMounted = true;
		return () => {
			removeActiveListener();
		};
	});

	$: {
		// prevent re-registering duplicate event listeners
		if (wasMounted) {
			removeActiveListener();
			addNewListener();
		}
	}

	function addNewListener() {
		window.addEventListener('resize', () => (boardWidth = width()));
	}

	function removeActiveListener() {
		window.removeEventListener('resize', width);
	}

	// calculate board width based on a fraction of the window's inner height
	function width() {
		// minimum width is 350px
		return browser && `width: ${Math.min(350, 0.45 * window.innerHeight)}px`;
	}
</script>

<div class="board" style={boardWidth}>
	{#each board.board as row}
		{#each row as col, i}
			<div
				class="tile"
				data-state={col.state}
				style={col.state === 'active' ? `background-color: ${colors[i]}` : ''}
			>
				{col.letter}
			</div>
		{/each}
	{/each}
</div>

<style>
	:root {
		--fs-tile: 0.6em;
		--board-aspect-ratio: 5/6;
	}
	@media screen and (min-height: 668px) {
		:root {
			--fs-tile: 1em;
		}
	}

	.board {
		display: grid;
		grid-template-rows: repeat(6, 1fr);
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 5px;

		align-items: center;
		justify-content: center;

		aspect-ratio: var(--board-aspect-ratio);
	}

	.tile {
		display: flex;
		justify-content: center;
		align-items: center;

		aspect-ratio: 1/1;

		border: 2px solid var(--clr-fg-default);
		border-radius: 8px;

		color: var(--clr-fg-default);

		font-size: var(--fs-tile);
		text-transform: uppercase;

		user-select: none;
	}

	.tile[data-state='empty'] {
		border-color: var(--clr-fg-empty);
	}

	.tile[data-state='active'] {
	}

	.tile[data-state='absent'] {
		background-color: var(--clr-bg-absent);
	}

	.tile[data-state='present'] {
		background-color: var(--clr-bg-present);
	}

	.tile[data-state='correct'] {
		background-color: var(--clr-bg-correct);
	}
</style>
