<script>
	import { createEventDispatcher, onMount, onDestroy } from 'svelte';

	import GameBoard, { COLS } from '$lib/board';
	import { specialKeys } from '$lib/keys';
	import Solver from '$lib/solver';
	import { initializeStats, addStat, completeStats } from '$lib/stores/stats';
	import { game, activateGame, startGame, endGame } from '$lib/stores/game';
	import { board, saveBoard, clearBoard } from '$lib/stores/board';
	import { selectedKeys } from '$lib/stores/keyboard';

	import Board from './Board.svelte';
	import Keyboard from './Keyboard.svelte';

	const dispatch = createEventDispatcher();

	// full list of words
	export let dictionary;

	// word solver
	let solver = new Solver(dictionary);

	// 2d array of letter and status
	let gameBoard = new GameBoard();

	// player's guessed word
	let guess = '';

	let boardState = {};
	const boardUnsubscribe = board.subscribe((value) => {
		boardState = { ...value };
		gameBoard.board = boardState.board;
		gameBoard.currRow = boardState.row;
	});

	// game start is selected so initialize the game
	let gameState = {};
	const gameUnsubscribe = game.subscribe((value) => {
		gameState = { ...value };
		// initialize an inactive game that has just started
		if (!gameState.active && gameState.started) {
			initialize();
		}
	});

	onMount(() => {
		startGame();
	});

	onDestroy(() => {
		boardUnsubscribe();
		gameUnsubscribe();
	});

	function initialize() {
		clearBoard();
		activateGame(generateSecret());
		initializeStats();
	}

	function finalize(win = false) {
		completeStats(win);
		endGame(win);
	}

	function generateSecret() {
		return dictionary[Math.floor(Math.random() * dictionary.length)];
	}

	function handleKey(event) {
		// don't accept input on game over
		if (gameState.over) {
			return;
		}

		let key = event.detail.key;

		if (key === specialKeys.enter) {
			guess = submitWord();
			return;
		}

		if (key === specialKeys.backspace) {
			guess = deleteLetter();
			return;
		}

		// don't accept word that is too long
		if (guess.length < COLS) {
			guess += key;
		}

		gameBoard.board = gameBoard.addLetter(key);
	}

	function submitWord() {
		let check = solver.validateGuess(guess);

		// validate word before proceeding
		if (!check.valid) {
			dispatch('error', { message: check.message });

			return gameBoard.word();
		}

		// guess is valid so let's attempt to solve it
		let word = solver.compareToSecret(check.guess, gameState.secret);

		// colour the row of tiles
		gameBoard.board = gameBoard.updateRow(word.statuses);

		// update stats guess count
		addStat({ guesses: 1 });

		// save locked-in guess
		saveBoard(gameBoard.board, gameBoard.currRow);

		// secret found or board full?
		if (word.match) {
			finalize(true);
		} else if (gameBoard.full()) {
			finalize(false);
		}

		return gameBoard.word();
	}

	function deleteLetter() {
		gameBoard.board = gameBoard.removeLetter();
		return gameBoard.word();
	}
</script>

<div class="game flow-content">
	<div>
		<Board board={gameBoard} />
	</div>
	<div>
		<Keyboard selected={$selectedKeys} on:key={(event) => handleKey(event)} />
	</div>
</div>

<style>
	.game {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		max-height: calc(100vh - var(--header-height));

		margin: 0.5rem;
		font-family: var(--ff);
		font-size: var(--fs);
	}
</style>
