<script>
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	let title = 'Wordle';
</script>

<header>
	<div class="left">
		<button
			id="help"
			class="icon-button"
			aria-label="Help button to show game play instructions"
			on:click={() => dispatch('clicked', { type: 'help' })}
		>
			<svg alt="question mark symbol" aria-label="question mark symbol" viewBox="0 0 100 100"
				><path
					d="M37.75 82.7q-.15 1.55-.15 4.55v2.25q0 5.45 2.25 7.7Q43 100 48.6 100q5.75 0 8.55-.85 2.65-.9 4.05-3.5 1.2-2.65 1.2-7.9 0-7.5-2.45-10.1-2.6-2.45-8.55-2.45-5.8 0-8.55.85-2.65.9-3.85 3-1.05 2.1-1.25 3.65m5.6-59.8q2.45-1.55 7.15-1.55 5.1 0 7.55 2.25 2.45 2.45 2.45 6.85 0 4.15-3.35 6.8-3.3 2.45-7.15 3.65-3.7 1.05-7 4.4-3.3 3.15-3.3 8.9l-.2 1.05q0 2.8.2 4 .35 1.25 1.2 2.8.9 1.6 3.3 2.3 2.3.7 6.15.7 3.85 0 6.1-.7 2.45-.55 3.5-1.95.9-1.4 1.05-2.6.2-1.2.2-3.5l2.25-.5q5.05-1.95 10.85-7.55 2.95-2.8 4.9-7.5 2.1-4.9 2.1-10.65 0-12.1-8.95-21Q63.45 0 49.45 0q-6.6 0-12.2 2.3Q32 4.4 28.85 7q-3 2.6-5.25 6.1-2.3 3.5-3 4.75-.5 1.4-1.2 3.5t-.7 4q0 4.55 7.85 7.7 4.2 1.55 6.65 1.55t4.05-1.7q1.75-1.95 2.95-5.25l.35-1.75q.55-1.6 2.8-3Z"
				/></svg
			>
		</button>
		<button id="blank" class="icon-button blank-button" />
	</div>
	<div class="title">{title}<span class="title-detail">beta</span></div>
	<div class="right">
		<button id="settings" class="icon-button blank-button">
			<svg viewBox="0 0 100 100"
				><path
					d="M93.35 25q-4.7-7.85-9-7.5-2.25-.2-3.95.55-1.5.75-4.3 2.45l-1.7 1.15q-5.45-4.7-11.65-6.95l-.15-6.95Q62.2 5.7 61.25 4 59.2.1 50.05.1 40.1.1 38.4 5.35q-.75 2.25-.75 7.5v1.85q-6.55 2.05-12.2 6.95l-1.5-.95q-4.3-2.45-6.75-3-5.4-1.15-10.3 7.5-4.65 7.85-2.25 11.6Q5.8 38.9 7.1 40q1.5.75 4.3 2.45l1.7.95q-.55 3.15-.55 6.75 0 3.55.55 6.75l-6.2 3.55q-1.5 1.3-2.4 3.15-2.45 3.6 2.25 11.45 4.85 8.65 10.3 7.5 2.4-.35 6.9-3l1.7-.95q5.45 4.7 12 7.15v1.7q0 5.05.75 7.5 1.7 5.25 11.65 5.25 9.15 0 11.2-3.95 1.15-2.05 1.35-3.75.15-1.7.15-4.9v-2.05q6.2-2.25 11.45-6.75l6.4 3.55q1.85.6 3.9.6 4.35.15 9-7.7 4.9-8.65 1.35-12.75-1.7-1.85-6.2-4.5l-1.7-.95q.55-3.35.55-6.9 0-3.6-.55-6.75l1.7-1.15q4.3-2.45 6-4.5 3.55-4.1-1.3-12.75m-43.5 9.2q6.55 0 11.25 4.7 4.65 4.65 4.65 11.25 0 6.75-4.65 11.2-4.7 4.9-11.25 4.9t-11.45-4.9q-4.5-4.45-4.5-11.2 0-6.6 4.5-11.25 4.9-4.7 11.45-4.7Z"
				/></svg
			>
		</button>
		<button
			id="stats"
			class="icon-button"
			aria-label="Statistics button to show historical game play stats"
			on:click={() => dispatch('clicked', { type: 'statistics' })}
		>
			<svg alt="bar graph symbol" aria-label="bar graph symbol" viewBox="0 0 100 100"
				><path
					d="M99.233 62.18q0-5.057-.936-7.304-1.686-5.43-11.61-5.43-9.177 0-11.05 3.745-1.31 2.247-1.498 3.745-.187 1.686-.187 5.056v25.469q0 3.37.187 5.056.188 1.498 1.499 3.745 1.872 3.745 11.048 3.745 9.925 0 11.61-5.43.937-2.248.937-7.304V62.18M1.48 31.843q-.749 2.247-.749 7.49v47.94q0 5.056.75 7.49 1.872 5.244 11.797 5.244 8.989 0 11.049-3.932 1.123-2.06 1.31-3.746.188-1.685.188-4.868l-.188-53.184q-.374-2.06-1.31-3.745-1.873-3.933-11.05-3.933-9.924 0-11.797 5.244M62.154 7.685q-.374-2.06-1.31-3.745Q58.784.007 49.608.007q-9.926 0-11.61 5.244-.75 2.247-.75 7.49v74.532q0 5.056.75 7.49 1.684 5.244 11.61 5.244 9.176 0 11.236-3.932 1.123-2.06 1.31-3.746.188-1.685.188-4.868l-.188-79.776Z"
				/></svg
			>
		</button>
	</div>
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		height: var(--header-height);
		padding: 0.25rem 0.5rem;

		font-family: var(--ff);
		font-weight: var(--fw-bold);
		text-transform: uppercase;
	}

	.left {
		display: flex;
		gap: 0.75rem;
	}

	.title {
		color: var(--clr-header-title);

		font-size: var(--fs-m);
		text-align: center;
		text-transform: uppercase;
	}

	.title-detail {
		color: var(--clr-accent-dark);

		font-size: var(--fs-xs);
		text-align: center;
		text-transform: lowercase;
	}

	.right {
		display: flex;
		gap: 0.75rem;
	}
</style>
