<script>
	import { ROWS, COLS } from '$lib/board';

	let examples = [
		{
			word: 'stern',
			caption: `The letter 'S' is in the secret and in the correct spot.`,
			state: 'correct',
			position: 0
		},

		{
			word: 'teeth',
			caption: "The letter 'E' is in the secret but in the wrong spot.",
			state: 'present',
			position: 2
		},

		{
			word: 'spoof',
			caption: 'Grey letters are not in the secret.',
			state: 'absent',
			position: -1
		}
	];
</script>

<h1 class="title">How to play</h1>

<div class="overview">
	<p>Guess the secret {COLS}-letter word in {ROWS} attempts.</p>
</div>

<div class="examples flow-content">
	{#each examples as example}
		<div class="example-row">
			{#each [...example.word] as letter, i}
				<div class="tile" data-state={i === example.position ? example.state : 'absent'}>
					{letter}
				</div>
			{/each}
		</div>
		<span class="caption">{example.caption}</span>
	{/each}
</div>

<style>
	.title {
		margin: 0.5rem;

		color: var(--clr-dark);
	}

	.overview {
		margin: 0.5rem 0.75rem;

		font-size: var(--fs-s);
	}

	.examples {
		display: flex;
		flex-direction: column;

		padding: 0.75rem;
		margin: 0.75rem 0.25rem;
	}

	.example-row {
		display: flex;
		justify-content: center;

		border: 2px solid var(--clr-light-grey);
		border-radius: 4px;

		font-size: var(--fs-s);
		font-weight: 700;
	}

	.caption {
		font-size: var(--fs-s);
	}

	.tile {
		padding: 1em 1.2em;

		border: 2px solid var(--clr-fg-default);
		border-radius: 6px;

		color: var(--clr-fg-default);

		font-size: 1.2em;
		text-transform: uppercase;
	}

	/* TODO: consider placing this into its own spot shared by this component and Board.svelte */
	.tile[data-state='absent'] {
		background-color: var(--clr-bg-absent);
	}

	.tile[data-state='present'] {
		background-color: var(--clr-bg-present);
	}

	.tile[data-state='correct'] {
		background-color: var(--clr-bg-correct);
	}
</style>
