<script>
	import { createEventDispatcher } from 'svelte';
	import { rows, keys, specialKeys } from '$lib/keys';

	const dispatch = createEventDispatcher();

	// status of selected letters (so far)
	export let selected;

	function keyStyles(key) {
		let styles = ['key'];
		if (key === specialKeys.enter) styles.push('enter');
		if (key === specialKeys.backspace) styles.push('backspace');

		return styles.join(' ');
	}

	function handleKey(key) {
		// ensure all physical key strokes are dispatched as their onscreen key counterpart (eg Backspace is ←)
		let k = specialKeys[key.toLowerCase()] ? specialKeys[key.toLowerCase()] : key.toLowerCase();
		if (keys.includes(k)) {
			dispatch('key', {
				key: k
			});
		}
	}
</script>

<!-- 
	note: physical keys for enter and spacebar will trigger onclick for last focused button
	see: https://stackoverflow.com/questions/54073140/why-does-a-click-event-get-triggered-on-my-button-when-i-press-enter-on-it 
-->
<svelte:window on:keydown={(event) => handleKey(event.key)} />

<div class="keyboard">
	{#each rows as row}
		<div class="row">
			{#each row as key}
				{#if key === 'a'}
					<div class="spacer" />
				{/if}
				<button
					class={keyStyles(key)}
					data-state={selected.get(key)}
					on:click={() => handleKey(key)}
					>{key}
				</button>
				{#if key === 'l'}
					<div class="spacer" />
				{/if}
			{/each}
		</div>
	{/each}
</div>

<style>
	:root {
		--fs-enter: 0.75rem;
		--fs-backspace: 1.75rem;
	}

	.keyboard {
		width: 95vw;

		user-select: none;
	}

	.row {
		display: flex;
		justify-content: center;

		margin: 0 auto 8px;

		/* https://sackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
		touch-action: manipulation;
	}

	.key {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;

		height: 58px;
		max-width: 43px;
		padding: 0;
		margin: 0 6px 0 0;

		border: 2px solid var(--clr-fg-empty);
		border-radius: 4px;

		color: var(--clr-dark);
		background-color: var(--clr-bg-empty);

		font-family: var(--ff-keys);
		font-weight: var(--fw-bold);
		text-transform: uppercase;

		cursor: pointer;
		user-select: none;
	}

	.key:last-of-type {
		margin-right: 0px;
	}

	.spacer {
		flex: 0.5;
	}

	.enter {
		flex: 1.5;
		max-width: 66px;
		font-size: var(--fs-enter);
	}

	.backspace {
		flex: 1.5;

		max-width: 66px;
		padding-bottom: 0.5rem;

		font-size: var(--fs-backspace);
	}

	.key[data-state='absent'] {
		color: var(--clr-fg-absent);
		border-color: var(--clr-bg-absent);
		background-color: var(--clr-bg-absent);
	}

	.key[data-state='present'] {
		color: var(--clr-fg-present);
		border-color: var(--clr-bg-present);
		background-color: var(--clr-bg-present);
	}

	.key[data-state='correct'] {
		color: var(--clr-fg-correct);
		border-color: var(--clr-bg-correct);
		background-color: var(--clr-bg-correct);
	}
</style>
