<script>
	import { onMount } from 'svelte';
	import { fade, fly } from 'svelte/transition';
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	// delay before showing modal
	export let delay = 0;

	// replay button is disabled until game over
	export let disableReplay = true;

	// listing of slots that show the replay button
	let showReplayButton = $$slots.statistics;

	// show/hide the modal
	let visible = false;

	onMount(() => {
		if (delay) {
			let tick = 0;
			setTimeout(() => {
				if (++tick === delay) {
					visible = true;
				}
			}, 1000);
		} else {
			visible = true;
		}
	});

	function closeModal() {
		visible = false;
		dispatch('close');
	}
</script>

{#if visible}
	<div class="container" transition:fade={{ duration: 250 }} on:click={() => dispatch('close')}>
		<!-- TODO: fly doesn't appear to work after latest SvelteKit migration -->
		<!-- <div class="modal" transition:fly={{ y: 50, duration: 250 }} on:click|stopPropagation> -->
		<div class="modal" on:click|stopPropagation>
			<div class="close" on:click={() => closeModal()}>
				<svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
					<path
						fill="var(--clr-dark)"
						d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
					/>
				</svg>
			</div>
			<slot name="statistics" />
			<slot name="help" />

			{#if showReplayButton}
				<!-- close propagates to enclosing modal in index.svelte -->
				<button
					class="replay-button"
					class:disabled-button={disableReplay}
					disabled={disableReplay}
					on:click={() => dispatch('replay')}
				>
					<div>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-arrow-repeat"
							viewBox="0 0 16 16"
							alt="cycle logo symbolizing replay"
							aria-label="cycle logo symbolizing replay"
						>
							<path
								d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
							/>
							<path
								fill-rule="evenodd"
								d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
							/>
						</svg>
					</div>
					<span>Play again?</span></button
				>
			{/if}
		</div>
	</div>
{/if}

<style>
	.container {
		position: fixed;

		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		background-color: var(--clr-dark-tr);

		overflow: auto;
	}

	.modal {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		position: absolute;

		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%);

		padding: 1rem 2rem;

		border-radius: 4px;
		box-shadow: var(--clr-dark-tr) 0px 4px 12px;

		background-color: var(--clr-light);

		text-align: center;

		font-family: var(--ff);
	}

	.close {
		position: absolute;

		top: 12px;
		right: 12px;

		cursor: pointer;
	}

	.replay-button {
		justify-content: space-evenly;

		padding: 0.75rem 2rem;
		margin: 0.5rem;

		background-color: var(--clr-bg-correct);
	}

	.bi-arrow-repeat {
		width: 28px;
		height: 28px;

		margin-right: 1rem;
	}
</style>
