<script>
	import { statistics } from '$lib/stores/stats';

	let max = 0;

	// evaluate appearance of each stat bar
	function styles(count, attempts, guesses) {
		// calculate the bar width
		max = Math.max(max, attempts);
		let width = attempts ? `${100 * (attempts / max)}%` : 'unset';
		
		// grey bar for non-winning guess count
		let background = 'var(--clr-grey)';

		// green bar for the winning count of guesses
		if (attempts > 0 && count === guesses) {
			background = 'var(--clr-bg-correct)';
		}

		return [`width: ${width}`, `background-color: ${background}`].join('; ');
	}
</script>

<h1 class="title">
	<span>Statistics</span>
</h1>
<div class="stats-overview">
	<div class="stat">
		<span class="value">{$statistics.games}</span>
		<span class="label">Games Played</span>
	</div>
	<div class="stat">
		<span class="value">{$statistics.winRatio}</span>
		<span class="label">Win Ratio %</span>
	</div>
	<div class="stat">
		<span class="value">{$statistics.currentStreak}</span>
		<span class="label">Current Streak</span>
	</div>
	<div class="stat">
		<span class="value">{$statistics.maxStreak}</span>
		<span class="label">Max Streak</span>
	</div>
</div>
<div class="guess-distribution">
	<h1 class="title">
		<span>Guess Distribution</span>
	</h1>
	<div class="guess-distribution-chart">
		{#each Object.entries($statistics.guessDistribution) as [count, attempts]}
			<div class="guess">
				<span class="count">{count}</span>
				<div class="bar" style={styles(+count, attempts, $statistics.guesses)}>
					{attempts}
				</div>
			</div>
		{/each}
	</div>
</div>

<style>
	.title {
		color: var(--clr-dark);
		margin: 0.5rem;
	}

	.stats-overview {
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 0.75rem;

		margin: 0.5rem 0.5rem;
	}

	.stat {
		flex: 1;
		border: 2px solid var(--clr-light-grey);
		border-radius: 4px;

		padding: 0.5rem 0.75rem;
	}

	.value {
		display: block;

		font-size: var(--fs-m);
		font-weight: 700;
	}

	.label {
		display: block;

		font-size: var(--fs-xs);
	}

	.guess-distribution {
		width: 100%;

		margin: 0.75rem;
	}

	.guess-distribution-chart {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 0.5rem;

		margin: 0.5rem;
	}

	.guess {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;

		width: 100%;
	}

	.count {
		font-weight: var(--fw-bold);
	}

	.bar {
		padding: 0.05rem 0.35rem;

		border-radius: 2px;

		color: var(--clr-light);
		background-color: var(--clr-grey);

		text-align: end;
	}
</style>
