<script>
	// see here for fade and spring https://css-tricks.com/svelte-and-spring-animations/
	import { onMount } from 'svelte';
	import { fade } from 'svelte/transition';
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();

	export let message;
	export let ttl = 2;

	onMount(() => {
		if (ttl) {
			let tick = 0;
			setInterval(() => {
				if (++tick === ttl) {
					dispatch('hide');
				}
			}, 1000);
		}
	});
</script>

<div class="toast" transition:fade={{ duration: 100 }}>
	<p class="message">{message}</p>
</div>

<style>
	.toast {
		position: absolute;
		top: 1rem;
		left: 50%;
		transform: translate(-50%, 0);

		padding: 1rem;

		border-radius: 4px;
		background-color: var(--clr-dark);

		text-align: center;
	}

	.message {
		color: var(--clr-light);

		font-family: var(--ff);
		font-size: 1rem;
		font-weight: bold;
	}
</style>
